<div class="h-100 d-flex align-atems-center justify-content-between">
    <div class="d-flex align-items-center flex-grow-1">
        <h1 class="header-title text-primary">{{pageTitle}}</h1>
    </div>
    <div class="d-flex align-items-center">
        <div class="px-3">
            <span class="icon icon-notification fs-5 cursor-pointer"></span>
        </div>
        <div class="d-flex align-items-center ps-2">
            <figure class="px-1 m-0 user-image bg-secondary cursor-pointer">
                <img class="img-fluid p-2" [src]="user?.profilePicture" alt="user-image">
            </figure>
            <span class="px-2 cursor-pointer">{{user?.name + ' ' + user?.lastName}}</span>
            <span class="icon-down text-primary cursor-pointer"></span>
        </div>
    </div>
</div>