// // theme Color
$primary: #1065cf;
$secondary: #f6f6f6;
$info: #7fb4be;
$dark: #3c3c3c;
$danger: #F32013;
$light: #FFFFFF;
$warning: #F6BE2B;
$success: #28a745;

// sidebar
$sidebar-bg: $secondary;

// card
$card-border-color: transperent;


//input
$input-btn-focus-shadow-rgb: transperent;


// // registration pages background color
// $content-bg: #E4E4E4;

// // Body 
// $body-bg: $content-bg;

// // Main content background color
// $main-content-bg: #FBFBFB;

// // border color
// $border-color : $main-content-bg;

// //form-colors
// $border-color-role: #8CB3BC;
// $border-color: $main-content-bg;

// //aside
// $aside-bg: #E7F2F5;

// //button shadow
// $btn-shadow-color: rgba(20, 91, 105, 0.05);

// // patient dashboard card logo background
// $patient-card-bg: #F3FCFF;

// ///// Bootstrap
// // input
// $input-border-color: $secondary;
// $input-focus-border-color: $primary;
// $input-bg: $light;
// $input-disabled-color: $secondary;
// $input-disabled-bg: $light;
// $institute-certificate-bg: #EFEFEF;
// $doctor-certificate-bg: #E7F2F5;

// // navlink
// $nav-link-bg: #e7f2f5;
// $nav-link-color: $secondary;
// $nav-link-hover-color: $primary;
// $profile-bg: $extra-light;

// // box-shadow
// // $box-shadow: 0 .5rem 1rem rgba(0,0,0, 0.05);
// $box-shadow: rgba(20, 91, 105, 0.05);
// // $box-shadow: #145B690D;
// $sidebar-box-shadow: 0 1px 8px $box-shadow;
// $header-box-shadow: 0 1px 8px $box-shadow;

// // dashboard no-record-found
// $gray-light: #D9D9D9;
// // pharmacy list item on hover 
// $list-item-hover: #F3FCFF;

// // edit profile avatar border
// $edit-avatar-border: #178fa7;

// // ngx-bootstrap datepicker
// $theme-list: (
//   'primary': $primary,
// );

// $icon-bg: #F3FCFF;