// Author: Pooja Manvani
// Accordion styles 
.accordion-table-border{
    border: 1px solid $info;
    border-radius: $accordion-border-radius;
}

.accordion-icon {
    font-size: $font-size-xsm;
    transition: all 0.4s;
    &.rotate{       
            transition: all 0.4s;
            transform: rotate(-90deg);
    }
}

accordion-group >.card > .card-header {
    padding: 0.5rem;
    margin-bottom: 0;
    background-color: $aside-bg;
    border-bottom: 0px;
}
accordion-group > .card >.card-header:first-child {
    border-radius: $accordion-border-radius;
}

accordion-group >.card {
    border: none;
    border-radius: 0px;
}

accordion-group > .card > .panel-collapse >.card-body {
    flex: none;
    padding: 0px;
    padding-top: 1rem;
}

accordion-group > .card > .panel-collapse >.panel-body {
    transition: ease-out;
}
