<div class="text-end py-3 mb-3">
    <!-- Start : Create button -->
    <button class="btn btn-primary"><span> + </span> <span class="ps-1">Create Project</span> </button>
    <!-- End : Create button -->
</div>
<div class="row g-4">
    <!-- Start : Project card -->
    <div *ngFor="let projectDetails of projectDetails" class="col-4">
        <a class="card bg-light p-4 cursor-pointer transition" (click)="onProjectClick(projectDetails.id)">
            <h4 class="pb-2">{{projectDetails?.projectName}}</h4>
            <p>{{projectDetails?.description}}
            </p>
            <p class="text-end">
                <span class="icon-duration"></span>
                <span class="ps-2 project-duration">{{projectDetails?.duration}}</span>
            </p>
        </a>
    </div>
    <!-- End : Project card -->
</div>