<div class="h-100">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>User</th>
                <th>Name</th>
                <th>Email Id</th>
                <th>Department</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td>Tanmay Patel</td>
                <td>tanmay.patel@1rivet.com</td>
                <td>Front-end</td>
                <td>Active</td>
            </tr>
            <tr>
                <td></td>
                <td>Tanmay Patel</td>
                <td>tanmay.patel@1rivet.com</td>
                <td>Front-end</td>
                <td>Active</td>
            </tr>
            <tr>
                <td></td>
                <td>Tanmay Patel</td>
                <td>tanmay.patel@1rivet.com</td>
                <td>Front-end</td>
                <td>Active</td>
            </tr>
            <tr>
                <td></td>
                <td>Tanmay Patel</td>
                <td>tanmay.patel@1rivet.com</td>
                <td>Front-end</td>
                <td>Active</td>
            </tr>
            <tr>
                <td></td>
                <td>Tanmay Patel</td>
                <td>tanmay.patel@1rivet.com</td>
                <td>Front-end</td>
                <td>Active</td>
            </tr>
        </tbody>
    </table>
</div>